<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hola Mundo | Vue</title>
    <link rel="shortcut icon" href="./img/favicon.png" type="image/x-icon">
    <script src="https://unpkg.com/vue@next"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <style>
         /* ------ ------- Estilos responsive ------- ------ */ 
        @media (min-width: 576px) {
            .fixed-bottom-sm{
                position: fixed !important;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1030;
            }
        }
    </style>
</head>
<body id="app">
    

        <nav class="navbar navbar-dark bg-dark">
            <span class="navbar-brand mb-0 h1">{{ tituloMayusculas }}</span>
        </nav>

        <div class="container-fluid">
            <div class="row justify-content-center align-items-center my-2">
                <div class="col-12 col-sm-12 col-md-2 col-lg-3"></div>
                <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                    <div class="card my-5">
                        <div class="card-header d-sm-flex d-block justify-content-between">
                            <h2 v-if="!estado_cuenta">Cuenta activa</h2>  <!------ ------- Pequeño artificio para "relacionar" con el botón agregar saldo ------- ------> 
                            <h2 v-else>Cuenta inactiva</h2>
                            <button class="btn btn-warning text-black" @click="desactivarCuenta">Desactivar cuenta</button>
                        </div>
                        <div class="card-body">

                            <h5 class="card-title">Saldo: S/.{{ cantidad }} <span style="font-size: 14px;" :class="colorCantidad">({{ mensajeCantidad }})</span>  </h5>                  

                            <h2>Mis servicios disponibles</h2>

                            <ul style="list-style: none;">
                                <li v-for="(servicio, index) of servicios" :key="index">{{ index+1 }} - {{ servicio }}</li>
                            </ul>

                            <button type="button" class="btn btn-primary mx-2" @click="agregarSaldo" :disabled="estado_cuenta">Agregar saldo</button>
                            <button type="button" class="btn btn-danger mx-2" v-on:click="restarSaldo(100)" :disabled="desactivar">Restar saldo</button>

                        </div>                
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-2 col-lg-3"></div>
            </div>
        </div>
            
        <!-- <a :href="enlace" target="_blank">Ir al enlace</a> -->
    
        <footer-banco         
            year="2021"
            web="https://github.com/pierre-juarez"
            developer="Pierre Juarez U." />

    
    <script src="./app.js"></script>
    <script src="./components/footer.js"></script>
    <script>
        const mountedApp = app.mount("#app");
    </script>
</body>
</html>